<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h5 class="title">Add MedicalTool</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="addMedicalToolForm">
                   
                   
                    
            
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="ToolName">Tool Name</label>
                            <input  type="text"  id="ToolName" formControlName="ToolName" class="form-control">
                            
                        </div>
  
                    </div>
               
                  
                   
                  
                   
                    
                   
                    
                    
                  
                    
                  
                  
                    
        
                </form>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-success btn-fill" (click)="addMedicalTool()">Add</button>
            </div>
        </div>
       
    </div>
  </div>